<configuration>
  <!-- 로그 패턴 설정-->
  <property name="LOG_PATTERN"
    value="%d{yyyy-MM-DD HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n"/>

  <!-- 로그 console 출력 설정 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- 로그 파일 경로 설정-->
  <property name="LOG_PATH" value="C:coding:codeit-bootcamp-spring/.logs"/>

  <!-- 로그 파일 롤링 저장-->
  <appender name="Rolling_File" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}</file>
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}.%i</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>

</configuration>

